# AIS Data Analyzation VT

This file filters the detected vessels into a specific timeframe which in this study is local time 00:12 to 00:18.  From the filtered timeframe, the data were furthermore refined to a vessel type code 20 to 89, excluding code 38 and 39. Modified csv and kml files are the ouput of this jupyter notebook.

References: 
    [Google Earth Icons](http://kml4earth.appspot.com/icons.html)

### Required Libraries:
- [pandas](https://sparkbyexamples.com/pandas/install-anaconda-run-pandas-jupyter-notebook/) \
&nbsp;&nbsp;conda install pandas
- [simplekml](https://anaconda.org/conda-forge/simplekml) \
&nbsp;&nbsp; conda install -c conda-forge simplekml

# Importing AIS Data

In [1]:
#import libraries
import pandas as pd
ais_file = 'Gulf_Mexico_AIS_05_31_2022.csv'
ais = pd.read_csv(ais_file)

# Showing the first four rows
print (ais)

              MMSI         BaseDateTime       LAT       LON   SOG    COG  \
0        368090830  2022-05-30T00:00:00  27.81135 -97.37035   0.3  314.6
1        366921420  2022-05-30T00:00:00  30.02172 -93.98697   0.0  273.2
2        368242770  2022-05-30T00:00:00  29.46587 -94.96262   0.0  359.5
3        367467980  2022-05-30T00:00:00  29.07525 -89.16497   0.0  239.6
4        368061080  2022-05-30T00:00:00  29.56997 -92.30155  12.2  189.6
...            ...                  ...       ...       ...   ...    ...
2730558  367119810  2022-05-30T23:59:59  29.35931 -94.78136  10.1  194.8
2730559  367663440  2022-05-30T23:59:59  30.47458 -91.19985   0.0  340.5
2730560  355109000  2022-05-30T23:59:59  29.67196 -89.95979  14.6  169.4
2730561  367611430  2022-05-30T23:59:59  29.41347 -94.86830   0.0  239.1
2730562  367589350  2022-05-30T23:59:59  27.84676 -97.22466   0.0   30.0

         Heading        VesselName         IMO CallSign  VesselType  Status  \
0          511.0  ELIANA M_GONDRAN  IMO0000157  WDK8100        52.0     0.0
1          511.0    HUGH S MONSTED  IMO8992132  WDB6286        31.0    12.0
2           14.0      EMILIE REECE         NaN  WDM8380        52.0     0.0
3          511.0         MISS LUCY         NaN  WDF5860        31.0    12.0
4          187.0        JUDITH ANN  IMO9852614  WDK5040        69.0     0.0
...          ...               ...         ...      ...         ...     ...
2730558    511.0   ROBERT C LANIER  IMO8643224  WAT3621        60.0     0.0
2730559      5.0           L AVERY         NaN  WDH8978        31.0     0.0
2730560    170.0           JIMMY T  IMO9782118     H3PT        70.0     0.0
2730561    511.0            ROSLYN         NaN  WDH3835        31.0    12.0
2730562     49.0    SIGNET POLARIS  IMO9681778  WDG9593        31.0     0.0

         Length  Width  Draft  Cargo TransceiverClass
0          21.0    8.0    2.8   52.0                A
1          25.0    9.0    NaN   57.0                A
2          26.0   10.0    3.5   57.0                A
3          13.0    4.0    NaN   31.0                A
4          20.0   10.0    2.2   38.0                A
...         ...    ...    ...    ...              ...
2730558    72.0   19.0    NaN    5.0                A
2730559    25.0    NaN    NaN   57.0                A
2730560     NaN    NaN    NaN   70.0                A
2730561    20.0    6.0    NaN   52.0                A
2730562    32.0   11.0    5.9   52.0                A

[2730563 rows x 17 columns]

# Removing unneeded columns

In [19]:
cols = list(ais.columns.values)
# ais_new = ais[cols[0:4] + cols [7:10] +[cols [-1]]]
# ais_new = ais[cols[0:4] + cols [7:11]]
ais_new  = ais[['MMSI', 'BaseDateTime','LAT', 'LON', 'VesselName','IMO', 'CallSign', 'VesselType']]

ais_new.head(2)

,MMSI,BaseDateTime,LAT,LON,VesselName,IMO,CallSign,VesselType
0,368090830,2022-05-30T00:00:00,27.81135,-97.37035,ELIANA M_GONDRAN,IMO0000157,WDK8100,52.0
1,366921420,2022-05-30T00:00:00,30.02172,-93.98697,HUGH S MONSTED,IMO8992132,WDB6286,31.0

# Filtering the time stamps

In [20]:
# Importing Regex Expression
import re

# Specify the needed time frame
timeframe = 'T00:12|T00:13|T00:14|T00:15|T00:16|T00:17:|T00:18:'
# timeframe = 'T00:12'
ais_new = ais_new.loc[ais_new['BaseDateTime'].str.contains(timeframe, regex = True)]

# Reset old indeces
ais_new = ais_new.reset_index(drop = True)

#Show new data
print(ais_new)

            MMSI         BaseDateTime       LAT       LON       VesselName  \
0      367682480  2022-05-30T00:12:00  29.31612 -89.08567       ERIC HUYNH
1      367716330  2022-05-30T00:12:00  29.94073 -90.17231       MARDI GRAS
2      368256040  2022-05-30T00:12:00  29.93651 -90.33576       JACK ESTES
3      366995360  2022-05-30T00:12:00  30.37324 -91.23811        UNCLE BUD
4      367471780  2022-05-30T00:12:00  29.34629 -89.11212   PRINCESS KELLY
...          ...                  ...       ...       ...              ...
13325  636021532  2022-05-30T00:18:59  29.87570 -89.94258          BUFFALO
13326  367384020  2022-05-30T00:18:59  29.50049 -94.55599  BLESSED TRINITY
13327  367672720  2022-05-30T00:18:59  29.61333 -92.00452        KRAEMER T
13328  367744140  2022-05-30T00:18:59  29.95271 -90.22881          ROBIN R
13329  367435670  2022-05-30T00:18:59  30.03606 -93.33058  LORETTA B MORAN

              IMO CallSign  VesselType
0      IMO8961286  WDI2859        30.0
1             NaN  WDI6209        31.0
2      IMO1323487  WDM9802        52.0
3             NaN  WDC2592        31.0
4      IMO8969965  WDF6207        30.0
...           ...      ...         ...
13325  IMO9583160    5LEJ9        70.0
13326         NaN  WDE6725        31.0
13327         NaN  WDH9902        60.0
13328         NaN  WDI8986        31.0
13329  IMO9415806  WDF3084        31.0

[13330 rows x 8 columns]

# Filtering Vessel Type

In [24]:
# Importing Regex Expression
import re

# Specify the Vessel Type
# VesselType 30 is fishing boat
# ais_new = ais_new.loc[(ais_new['VesselType']== 30)| (ais_new['VesselType']== 52)]
# 
ais_new = ais_new.loc[(ais_new['VesselType'] > 20) & (ais_new['VesselType'] < 89)]
ais_new = ais_new[ais_new.VesselType != 38]
ais_new = ais_new[ais_new.VesselType != 39]

# Reset old indeces
ais_new = ais_new.reset_index(drop = True)

#Show new data
print (ais_new)
print (ais_new['VesselType']==39)

            MMSI         BaseDateTime       LAT       LON       VesselName  \
0      367682480  2022-05-30T00:12:00  29.31612 -89.08567       ERIC HUYNH
1      367716330  2022-05-30T00:12:00  29.94073 -90.17231       MARDI GRAS
2      368256040  2022-05-30T00:12:00  29.93651 -90.33576       JACK ESTES
3      366995360  2022-05-30T00:12:00  30.37324 -91.23811        UNCLE BUD
4      367471780  2022-05-30T00:12:00  29.34629 -89.11212   PRINCESS KELLY
...          ...                  ...       ...       ...              ...
12068  636021532  2022-05-30T00:18:59  29.87570 -89.94258          BUFFALO
12069  367384020  2022-05-30T00:18:59  29.50049 -94.55599  BLESSED TRINITY
12070  367672720  2022-05-30T00:18:59  29.61333 -92.00452        KRAEMER T
12071  367744140  2022-05-30T00:18:59  29.95271 -90.22881          ROBIN R
12072  367435670  2022-05-30T00:18:59  30.03606 -93.33058  LORETTA B MORAN

              IMO CallSign  VesselType
0      IMO8961286  WDI2859        30.0
1             NaN  WDI6209        31.0
2      IMO1323487  WDM9802        52.0
3             NaN  WDC2592        31.0
4      IMO8969965  WDF6207        30.0
...           ...      ...         ...
12068  IMO9583160    5LEJ9        70.0
12069         NaN  WDE6725        31.0
12070         NaN  WDH9902        60.0
12071         NaN  WDI8986        31.0
12072  IMO9415806  WDF3084        31.0

[12073 rows x 8 columns]
0        False
1        False
2        False
3        False
4        False
         ...
12068    False
12069    False
12070    False
12071    False
12072    False
Name: VesselType, Length: 12073, dtype: bool

# Saving modified csv

In [27]:
# Don't include the indeces
newfile = 'Modified_AIS-MultipleVT.csv'
ais_new.to_csv(newfile, index=False)

print(ais_new)

            MMSI         BaseDateTime       LAT       LON       VesselName  \
0      367682480  2022-05-30T00:12:00  29.31612 -89.08567       ERIC HUYNH
1      367716330  2022-05-30T00:12:00  29.94073 -90.17231       MARDI GRAS
2      368256040  2022-05-30T00:12:00  29.93651 -90.33576       JACK ESTES
3      366995360  2022-05-30T00:12:00  30.37324 -91.23811        UNCLE BUD
4      367471780  2022-05-30T00:12:00  29.34629 -89.11212   PRINCESS KELLY
...          ...                  ...       ...       ...              ...
12068  636021532  2022-05-30T00:18:59  29.87570 -89.94258          BUFFALO
12069  367384020  2022-05-30T00:18:59  29.50049 -94.55599  BLESSED TRINITY
12070  367672720  2022-05-30T00:18:59  29.61333 -92.00452        KRAEMER T
12071  367744140  2022-05-30T00:18:59  29.95271 -90.22881          ROBIN R
12072  367435670  2022-05-30T00:18:59  30.03606 -93.33058  LORETTA B MORAN

              IMO CallSign  VesselType
0      IMO8961286  WDI2859        30.0
1             NaN  WDI6209        31.0
2      IMO1323487  WDM9802        52.0
3             NaN  WDC2592        31.0
4      IMO8969965  WDF6207        30.0
...           ...      ...         ...
12068  IMO9583160    5LEJ9        70.0
12069         NaN  WDE6725        31.0
12070         NaN  WDH9902        60.0
12071         NaN  WDI8986        31.0
12072  IMO9415806  WDF3084        31.0

[12073 rows x 8 columns]

# Converting to KML

In [79]:
import pandas as pd
import  simplekml

ais_new = pd.read_csv(newfile)

# names = ais_new['VesselName']
longitudes = ais_new['LON']
latitudes = ais_new['LAT']

locations = pd.DataFrame({'longitudes':longitudes,
                        'latitudes':latitudes})

points_kml = simplekml.Kml()
for i in locations.itertuples():
    # Create points
    pt = points_kml.newpoint(coords=[(i.longitudes, i.latitudes)], description = ("The coordinates is", i.latitudes, i.longitudes))
    
    # Change the icon to boat
    pt.style.iconstyle.icon.href = 'http://maps.google.com/mapfiles/kml/shapes/sailing.png'
    
    # Sets the color to green
#     pt.style.iconstyle.color ='#00ff00' 

# Save the KML    
points_kml_path = 'Modified_AIS_ver2.kml'
points_kml.save(points_kml_path)

# Open in google earth
# subprocess.call(['open', points_kml_path])