# KML to CSV Converter

Since the result in matlab algoritm is kml file, this jupyter notebook converts the kml into csv which will then be use to analyze the precision between matlab algorithm and ais data. The ouput of this file is csv.

In [67]:
from bs4 import BeautifulSoup
import csv
import pandas as pd

infile = 'VBD_Main_v5.kml'
outfile = 'output2.csv'
def main():
    """
    Open the KML. Read the KML. Make 3 lists for Name, Coordinates and Description of the placemarks. Save the data to a CSV
    """
    name_counter = 0
    names_list = []
    coords_counter = 0
    coords_list = []
    desc_counter = 0
    desc_list = []
    Lat_list =[]
    Lat_counter = 0
    Lon_lits = []
    Lon_counter = 0
    
    with open(infile, 'r') as f:
        s = BeautifulSoup(f, 'xml')

        for names in s.find_all('name'):                #google earth nomenclature. Should read the KML file to see the relevant names we require
            names_list.append(names.string)
        names_list = names_list[2:]       #only keep names of placemarks
        name_counter = len(names_list)

        for coords in s.find_all('coordinates'):
            coords_list.append(coords.string)
            coords_list = [string.replace(',9','') for string in coords_list] #here i am manually removing the altitude from coords. Not the best way
                
                
        
        coords_counter = len(coords_list)   
#             row = []
            
#             for split in space_splits[1:]:
#                 # Note: because of the space between <coordinates>" "-80.123, we slice [1:]
#                 comma_split = split.split(',')
#                 # lattitude
#                 row.append(comma_split[1])
                
#                 # longitude
#                 row.append(comma_split[0])
        

        for descriptions in s.find_all('description'):
            desc_list.append(descriptions.string)
        desc_counter = len(desc_list)

    print(f'name counter = {name_counter}')         #just for testing, all counters should be equal
    print(f'coords counter = {coords_counter}')
    print(f'descriptions counter = {desc_counter}')


    with open(outfile, 'w') as file:
        csv_writer = csv.writer(file)
        csv_writer.writerow(['Name', 'Coordinates', 'Description'])
        for counter in range(0, name_counter):
            csv_writer.writerow(
                [names_list[counter], coords_list[counter], desc_list[counter]])


if __name__ == "__main__":
    main()

name counter = 347
coords counter = 348
descriptions counter = 348

In [68]:
#import libraries
import pandas as pd
outfile = 'output2.csv'
df = pd.read_csv(outfile)
print (df)

          Name                           Coordinates        Description
0      Point 2   -97.6230392456055,27.292366027832,0   27.2924, -97.623
1      Point 3  -97.5028991699219,26.9769592285156,0   26.977, -97.5029
2      Point 4   -97.390266418457,26.5498123168945,0  26.5498, -97.3903
3      Point 5  -97.1470947265625,27.8271198272705,0  27.8271, -97.1471
4      Point 6  -97.0928039550781,27.7422370910645,0  27.7422, -97.0928
..         ...                                   ...                ...
342  Point 344  -82.6549911499023,27.6189270019531,0   27.6189, -82.655
343  Point 345  -82.4442138671875,27.9183731079102,0  27.9184, -82.4442
344  Point 346  -82.3561248779297,26.9149971008301,0   26.915, -82.3561
345  Point 347  -82.1994247436523,26.5505237579346,0  26.5505, -82.1994
346  Point 348   -82.187873840332,26.4940299987793,0   26.494, -82.1879

[347 rows x 3 columns]

# Splitting Coordinates

In [69]:
df[['Lon','Lat', 'Altitude']] = df['Coordinates'].str.split(',', expand=True)
print (df)

          Name                           Coordinates        Description  \
0      Point 2   -97.6230392456055,27.292366027832,0   27.2924, -97.623
1      Point 3  -97.5028991699219,26.9769592285156,0   26.977, -97.5029
2      Point 4   -97.390266418457,26.5498123168945,0  26.5498, -97.3903
3      Point 5  -97.1470947265625,27.8271198272705,0  27.8271, -97.1471
4      Point 6  -97.0928039550781,27.7422370910645,0  27.7422, -97.0928
..         ...                                   ...                ...
342  Point 344  -82.6549911499023,27.6189270019531,0   27.6189, -82.655
343  Point 345  -82.4442138671875,27.9183731079102,0  27.9184, -82.4442
344  Point 346  -82.3561248779297,26.9149971008301,0   26.915, -82.3561
345  Point 347  -82.1994247436523,26.5505237579346,0  26.5505, -82.1994
346  Point 348   -82.187873840332,26.4940299987793,0   26.494, -82.1879

                   Lon               Lat Altitude
0    -97.6230392456055   27.292366027832        0
1    -97.5028991699219  26.9769592285156        0
2     -97.390266418457  26.5498123168945        0
3    -97.1470947265625  27.8271198272705        0
4    -97.0928039550781  27.7422370910645        0
..                 ...               ...      ...
342  -82.6549911499023  27.6189270019531        0
343  -82.4442138671875  27.9183731079102        0
344  -82.3561248779297  26.9149971008301        0
345  -82.1994247436523  26.5505237579346        0
346   -82.187873840332  26.4940299987793        0

[347 rows x 6 columns]

# Removing uneeded columns

In [70]:
new_df = df.drop (columns = ['Name','Coordinates', 'Altitude'])
print (new_df)

           Description                Lon               Lat
0     27.2924, -97.623  -97.6230392456055   27.292366027832
1     26.977, -97.5029  -97.5028991699219  26.9769592285156
2    26.5498, -97.3903   -97.390266418457  26.5498123168945
3    27.8271, -97.1471  -97.1470947265625  27.8271198272705
4    27.7422, -97.0928  -97.0928039550781  27.7422370910645
..                 ...                ...               ...
342   27.6189, -82.655  -82.6549911499023  27.6189270019531
343  27.9184, -82.4442  -82.4442138671875  27.9183731079102
344   26.915, -82.3561  -82.3561248779297  26.9149971008301
345  26.5505, -82.1994  -82.1994247436523  26.5505237579346
346   26.494, -82.1879   -82.187873840332  26.4940299987793

[347 rows x 3 columns]

# Saving the modified CSV

In [72]:
# Don't include the indeces
newfile = 'Matlab_algo.csv'
new_df.to_csv(newfile, index=False)

print(new_df)

           Description                Lon               Lat
0     27.2924, -97.623  -97.6230392456055   27.292366027832
1     26.977, -97.5029  -97.5028991699219  26.9769592285156
2    26.5498, -97.3903   -97.390266418457  26.5498123168945
3    27.8271, -97.1471  -97.1470947265625  27.8271198272705
4    27.7422, -97.0928  -97.0928039550781  27.7422370910645
..                 ...                ...               ...
342   27.6189, -82.655  -82.6549911499023  27.6189270019531
343  27.9184, -82.4442  -82.4442138671875  27.9183731079102
344   26.915, -82.3561  -82.3561248779297  26.9149971008301
345  26.5505, -82.1994  -82.1994247436523  26.5505237579346
346   26.494, -82.1879   -82.187873840332  26.4940299987793

[347 rows x 3 columns]

# Saving the new kml

In [74]:
import pandas as pd
import  simplekml

new_df = pd.read_csv(newfile)

# names = ais_new['VesselName']
longitudes = new_df['Lon']
latitudes = new_df['Lat']

locations = pd.DataFrame({'longitudes':longitudes,
                        'latitudes':latitudes})

points_kml = simplekml.Kml()
for i in locations.itertuples():
    # Create points
    pt = points_kml.newpoint(coords=[(i.longitudes, i.latitudes)], description = ("The coordinates is", i.latitudes, i.longitudes))
    
    # Change the icon to boat
    pt.style.iconstyle.icon.href = 'http://maps.google.com/mapfiles/kml/shapes/sailing.png'
    
    # Sets the color to green
#     pt.style.iconstyle.color ='#00ff00' 

# Save the KML    
points_kml_path = 'MatlabAlgo_NoName.kml'
points_kml.save(points_kml_path)

# Open in google earth
# subprocess.call(['open', points_kml_path])