# Precision Analysis

This file computes the true positive and false positive in Matlab algoritm and AIS data by comparing the coordinates of both data in a specific row.

In [1]:
# Import libraries
import pandas as pd

# Importing csv files 
dep_csv = 'Matlab_algo.csv'
ref_csv = 'Modified_AIS_VT.csv'
outfile = 'Precision-Analysis.csv'
dep = pd.read_csv(dep_csv)
ref = pd.read_csv(ref_csv)

print (dep)
print (ref)

           Description        Lon        Lat
0     27.2924, -97.623 -97.623039  27.292366
1     26.977, -97.5029 -97.502899  26.976959
2    26.5498, -97.3903 -97.390266  26.549812
3    27.8271, -97.1471 -97.147095  27.827120
4    27.7422, -97.0928 -97.092804  27.742237
..                 ...        ...        ...
342   27.6189, -82.655 -82.654991  27.618927
343  27.9184, -82.4442 -82.444214  27.918373
344   26.915, -82.3561 -82.356125  26.914997
345  26.5505, -82.1994 -82.199425  26.550524
346   26.494, -82.1879 -82.187874  26.494030

[347 rows x 3 columns]
          MMSI         BaseDateTime       LAT       LON          VesselName  \
0    367682480  2022-05-30T00:12:00  29.31612 -89.08567          ERIC HUYNH
1    367471780  2022-05-30T00:12:00  29.34629 -89.11212      PRINCESS KELLY
2    367792030  2022-05-30T00:12:00  30.37990 -88.56173           SEA HORSE
3    368188790  2022-05-30T00:12:01  29.68500 -90.09985     SOUTHERN NIGHTS
4    367778650  2022-05-30T00:12:02  29.30730 -93.48208  ELMIRA PFLUECKHAHN
..         ...                  ...       ...       ...                 ...
868  367735690  2022-05-30T00:18:57  29.00136 -91.69326          FRANCIS VU
869  368088160  2022-05-30T00:18:57  29.28593 -91.93512           AIDEN BOY
870  367718320  2022-05-30T00:18:58  28.98955 -91.74244            AM WHALE
871  367454140  2022-05-30T00:18:58  29.75477 -93.45546          MASTER HAI
872  366986160  2022-05-30T00:18:59  29.79009 -92.14251            Q O DUNN

            IMO CallSign  VesselType
0    IMO8961286  WDI2859        30.0
1    IMO8969965  WDF6207        30.0
2    IMO8854902  WDJ5867        30.0
3           NaN  WDM2507        30.0
4    IMO7230783  WDJ4538        30.0
..          ...      ...         ...
868  IMO8981975  WDI8145        30.0
869         NaN  WDK7822        30.0
870  IMO8983571  WDI6400        30.0
871  IMO8939477  WDF4637        30.0
872  IMO7308023   WX9279        30.0

[873 rows x 8 columns]

# Sorting the csv files

In [2]:
# Sorting the csv files based on latitude and longitude
dep.sort_values('Lat', ascending = True)
ref.sort_values ('LAT', ascending = True)

print (dep)
print (ref)

           Description        Lon        Lat
0     27.2924, -97.623 -97.623039  27.292366
1     26.977, -97.5029 -97.502899  26.976959
2    26.5498, -97.3903 -97.390266  26.549812
3    27.8271, -97.1471 -97.147095  27.827120
4    27.7422, -97.0928 -97.092804  27.742237
..                 ...        ...        ...
342   27.6189, -82.655 -82.654991  27.618927
343  27.9184, -82.4442 -82.444214  27.918373
344   26.915, -82.3561 -82.356125  26.914997
345  26.5505, -82.1994 -82.199425  26.550524
346   26.494, -82.1879 -82.187874  26.494030

[347 rows x 3 columns]
          MMSI         BaseDateTime       LAT       LON          VesselName  \
0    367682480  2022-05-30T00:12:00  29.31612 -89.08567          ERIC HUYNH
1    367471780  2022-05-30T00:12:00  29.34629 -89.11212      PRINCESS KELLY
2    367792030  2022-05-30T00:12:00  30.37990 -88.56173           SEA HORSE
3    368188790  2022-05-30T00:12:01  29.68500 -90.09985     SOUTHERN NIGHTS
4    367778650  2022-05-30T00:12:02  29.30730 -93.48208  ELMIRA PFLUECKHAHN
..         ...                  ...       ...       ...                 ...
868  367735690  2022-05-30T00:18:57  29.00136 -91.69326          FRANCIS VU
869  368088160  2022-05-30T00:18:57  29.28593 -91.93512           AIDEN BOY
870  367718320  2022-05-30T00:18:58  28.98955 -91.74244            AM WHALE
871  367454140  2022-05-30T00:18:58  29.75477 -93.45546          MASTER HAI
872  366986160  2022-05-30T00:18:59  29.79009 -92.14251            Q O DUNN

            IMO CallSign  VesselType
0    IMO8961286  WDI2859        30.0
1    IMO8969965  WDF6207        30.0
2    IMO8854902  WDJ5867        30.0
3           NaN  WDM2507        30.0
4    IMO7230783  WDJ4538        30.0
..          ...      ...         ...
868  IMO8981975  WDI8145        30.0
869         NaN  WDK7822        30.0
870  IMO8983571  WDI6400        30.0
871  IMO8939477  WDF4637        30.0
872  IMO7308023   WX9279        30.0

[873 rows x 8 columns]

# Creating new csv to store the analyzation

In [3]:
dep_cols = list(dep.columns.values)
ref_cols = list (ref.columns.values)
# # ais_new = ais[cols[0:4] + cols [7:10] +[cols [-1]]]
# # pa = matlab['Lat', 'Lon'] + ais['BaseDateTime','LAT', 'LON', 'VesselName', 'Vessel']
# # pa = matlab['Lat', 'Lon']
# pa =  ais[['BaseDateTime','LAT', 'LON', 'VesselName', 'VesselType']]
# pa ['Lat', 'Lon'] = matlab[['Lat', 'Lon']]

pa = pd.concat([dep, ref], axis=1) 

print (pa)

           Description        Lon        Lat       MMSI         BaseDateTime  \
0     27.2924, -97.623 -97.623039  27.292366  367682480  2022-05-30T00:12:00
1     26.977, -97.5029 -97.502899  26.976959  367471780  2022-05-30T00:12:00
2    26.5498, -97.3903 -97.390266  26.549812  367792030  2022-05-30T00:12:00
3    27.8271, -97.1471 -97.147095  27.827120  368188790  2022-05-30T00:12:01
4    27.7422, -97.0928 -97.092804  27.742237  367778650  2022-05-30T00:12:02
..                 ...        ...        ...        ...                  ...
868                NaN        NaN        NaN  367735690  2022-05-30T00:18:57
869                NaN        NaN        NaN  368088160  2022-05-30T00:18:57
870                NaN        NaN        NaN  367718320  2022-05-30T00:18:58
871                NaN        NaN        NaN  367454140  2022-05-30T00:18:58
872                NaN        NaN        NaN  366986160  2022-05-30T00:18:59

          LAT       LON          VesselName         IMO CallSign  VesselType
0    29.31612 -89.08567          ERIC HUYNH  IMO8961286  WDI2859        30.0
1    29.34629 -89.11212      PRINCESS KELLY  IMO8969965  WDF6207        30.0
2    30.37990 -88.56173           SEA HORSE  IMO8854902  WDJ5867        30.0
3    29.68500 -90.09985     SOUTHERN NIGHTS         NaN  WDM2507        30.0
4    29.30730 -93.48208  ELMIRA PFLUECKHAHN  IMO7230783  WDJ4538        30.0
..        ...       ...                 ...         ...      ...         ...
868  29.00136 -91.69326          FRANCIS VU  IMO8981975  WDI8145        30.0
869  29.28593 -91.93512           AIDEN BOY         NaN  WDK7822        30.0
870  28.98955 -91.74244            AM WHALE  IMO8983571  WDI6400        30.0
871  29.75477 -93.45546          MASTER HAI  IMO8939477  WDF4637        30.0
872  29.79009 -92.14251            Q O DUNN  IMO7308023   WX9279        30.0

[873 rows x 11 columns]

# Comparing the latitudes and longitudes

In [4]:
import pandas as pd
import numpy as np

# pa['Lat_match'] = np.where(pa['Lat'] == pa['LAT'], 'True', 'False')
# pa['Lon_match'] = np.where(pa['Lon'] == pa['LON'], 'True', 'False')


# Assigning Tolerance
tolerance = 0.01

# Latitudes and Longitudes
pa ['LATminT'] = pa['LAT'] - tolerance
pa ['LATmaxT'] = pa['LAT'] + tolerance
pa ['LONminT'] = pa['LON'] - tolerance
pa ['LONmaxT'] = pa['LON'] + tolerance

# New columns 
pa['LATminT_match'] = np.where(pa['Lat'] > pa ['LATminT'], pa['Lat'], 10000)
pa['LATmaxT_match'] = np.where(pa['LATminT_match'] < pa ['LATmaxT'], 'True', 'False')
pa['LONminT_match'] = np.where(pa['Lon'] > pa ['LONminT'], pa['Lon'], 10000)
pa['LONmaxT_match'] = np.where(pa['LONminT_match'] < pa ['LONmaxT'], 'True', 'False')

print (pa)

           Description        Lon        Lat       MMSI         BaseDateTime  \
0     27.2924, -97.623 -97.623039  27.292366  367682480  2022-05-30T00:12:00
1     26.977, -97.5029 -97.502899  26.976959  367471780  2022-05-30T00:12:00
2    26.5498, -97.3903 -97.390266  26.549812  367792030  2022-05-30T00:12:00
3    27.8271, -97.1471 -97.147095  27.827120  368188790  2022-05-30T00:12:01
4    27.7422, -97.0928 -97.092804  27.742237  367778650  2022-05-30T00:12:02
..                 ...        ...        ...        ...                  ...
868                NaN        NaN        NaN  367735690  2022-05-30T00:18:57
869                NaN        NaN        NaN  368088160  2022-05-30T00:18:57
870                NaN        NaN        NaN  367718320  2022-05-30T00:18:58
871                NaN        NaN        NaN  367454140  2022-05-30T00:18:58
872                NaN        NaN        NaN  366986160  2022-05-30T00:18:59

          LAT       LON          VesselName         IMO CallSign  VesselType  \
0    29.31612 -89.08567          ERIC HUYNH  IMO8961286  WDI2859        30.0
1    29.34629 -89.11212      PRINCESS KELLY  IMO8969965  WDF6207        30.0
2    30.37990 -88.56173           SEA HORSE  IMO8854902  WDJ5867        30.0
3    29.68500 -90.09985     SOUTHERN NIGHTS         NaN  WDM2507        30.0
4    29.30730 -93.48208  ELMIRA PFLUECKHAHN  IMO7230783  WDJ4538        30.0
..        ...       ...                 ...         ...      ...         ...
868  29.00136 -91.69326          FRANCIS VU  IMO8981975  WDI8145        30.0
869  29.28593 -91.93512           AIDEN BOY         NaN  WDK7822        30.0
870  28.98955 -91.74244            AM WHALE  IMO8983571  WDI6400        30.0
871  29.75477 -93.45546          MASTER HAI  IMO8939477  WDF4637        30.0
872  29.79009 -92.14251            Q O DUNN  IMO7308023   WX9279        30.0

      LATminT   LATmaxT   LONminT   LONmaxT  LATminT_match LATmaxT_match  \
0    29.30612  29.32612 -89.09567 -89.07567        10000.0         False
1    29.33629  29.35629 -89.12212 -89.10212        10000.0         False
2    30.36990  30.38990 -88.57173 -88.55173        10000.0         False
3    29.67500  29.69500 -90.10985 -90.08985        10000.0         False
4    29.29730  29.31730 -93.49208 -93.47208        10000.0         False
..        ...       ...       ...       ...            ...           ...
868  28.99136  29.01136 -91.70326 -91.68326        10000.0         False
869  29.27593  29.29593 -91.94512 -91.92512        10000.0         False
870  28.97955  28.99955 -91.75244 -91.73244        10000.0         False
871  29.74477  29.76477 -93.46546 -93.44546        10000.0         False
872  29.78009  29.80009 -92.15251 -92.13251        10000.0         False

     LONminT_match LONmaxT_match
0          10000.0         False
1          10000.0         False
2          10000.0         False
3          10000.0         False
4          10000.0         False
..             ...           ...
868        10000.0         False
869        10000.0         False
870        10000.0         False
871        10000.0         False
872        10000.0         False

[873 rows x 19 columns]

# Displaying True Positive (Matched coordinates)

In [5]:
# Checking only Latitude
pa_LATmatch = pa.loc [pa['LATmaxT_match'] == 'True']

# Checking only longitude
pa_Lonmatch = pa.loc [pa['LONmaxT_match'] == 'True']

#  Checking both latitude and Longitude
pa_Coormatch = pa.loc [(pa['LATmaxT_match'] == 'True') & (pa['LONmaxT_match'] == 'True')]

# Printing the results
print ("Latitude TP:", len(pa_LATmatch))
print ("Longitude TP", len(pa_Lonmatch))
print ("Both latitude and longitude TP:", len(pa_Coormatch))


# # Checking only Latitude
# pa_LATmatch = pa.loc [pa['Lat_match'] == 'True']

# # Checking only longitude
# pa_Lonmatch = pa.loc [pa['Lon_match'] == 'True']

# #  Checking both latitude and Longitude
# pa_Coormatch = pa.loc [(pa['Lat_match'] == 'True') & (pa['Lon_match'] == 'True')]

# # Printing the results
# print ("Latitude TP:", len(pa_LATmatch))
# print ("Longitude TP", len(pa_Lonmatch))
# print ("Both latitude and longitude TP:", len(pa_Coormatch))

Latitude TP: 6
Longitude TP 0
Both latitude and longitude TP: 0

# Checking for False Positive (unmatched)

In [6]:
# Checking only Latitude
pa_LATmatch = pa.loc [pa['LATmaxT_match'] == 'False']

# Checking only longitude
pa_Lonmatch = pa.loc [pa['LONmaxT_match'] == 'False']

#  Checking both latitude and Longitude
pa_Coormatch = pa.loc [(pa['LATmaxT_match'] == 'False') & (pa['LONmaxT_match'] == 'False')]

# Printing the results
print ("Latitude FP:", len(pa_LATmatch))
print ("Longitude FP", len(pa_Lonmatch))
print ("Both latitude and longitude FP:", len(pa_Coormatch))


# # Checking only Latitude
# pa_LATmatch = pa.loc [pa['Lat_match'] == 'False']

# # Checking only longitude
# pa_Lonmatch = pa.loc [pa['Lon_match'] == 'False']

# #  Checking both latitude and Longitude
# pa_Coormatch = pa.loc [(pa['Lat_match'] == 'False') & (pa['Lon_match'] == 'False')]

# # Printing the results
# print ("Latitude TP:", len(pa_LATmatch))
# print ("Longitude TP", len(pa_Lonmatch))
# print ("Both latitude and longitude TP:", len(pa_Coormatch))

Latitude FP: 867
Longitude FP 873
Both latitude and longitude FP: 867

# Saving the new csv

In [7]:
# Don't include the indeces
newfile = 'PrecisionAnalysis.csv'
pa.to_csv(newfile, index=False)

print(pa)

           Description        Lon        Lat       MMSI         BaseDateTime  \
0     27.2924, -97.623 -97.623039  27.292366  367682480  2022-05-30T00:12:00
1     26.977, -97.5029 -97.502899  26.976959  367471780  2022-05-30T00:12:00
2    26.5498, -97.3903 -97.390266  26.549812  367792030  2022-05-30T00:12:00
3    27.8271, -97.1471 -97.147095  27.827120  368188790  2022-05-30T00:12:01
4    27.7422, -97.0928 -97.092804  27.742237  367778650  2022-05-30T00:12:02
..                 ...        ...        ...        ...                  ...
868                NaN        NaN        NaN  367735690  2022-05-30T00:18:57
869                NaN        NaN        NaN  368088160  2022-05-30T00:18:57
870                NaN        NaN        NaN  367718320  2022-05-30T00:18:58
871                NaN        NaN        NaN  367454140  2022-05-30T00:18:58
872                NaN        NaN        NaN  366986160  2022-05-30T00:18:59

          LAT       LON          VesselName         IMO CallSign  VesselType  \
0    29.31612 -89.08567          ERIC HUYNH  IMO8961286  WDI2859        30.0
1    29.34629 -89.11212      PRINCESS KELLY  IMO8969965  WDF6207        30.0
2    30.37990 -88.56173           SEA HORSE  IMO8854902  WDJ5867        30.0
3    29.68500 -90.09985     SOUTHERN NIGHTS         NaN  WDM2507        30.0
4    29.30730 -93.48208  ELMIRA PFLUECKHAHN  IMO7230783  WDJ4538        30.0
..        ...       ...                 ...         ...      ...         ...
868  29.00136 -91.69326          FRANCIS VU  IMO8981975  WDI8145        30.0
869  29.28593 -91.93512           AIDEN BOY         NaN  WDK7822        30.0
870  28.98955 -91.74244            AM WHALE  IMO8983571  WDI6400        30.0
871  29.75477 -93.45546          MASTER HAI  IMO8939477  WDF4637        30.0
872  29.79009 -92.14251            Q O DUNN  IMO7308023   WX9279        30.0

      LATminT   LATmaxT   LONminT   LONmaxT  LATminT_match LATmaxT_match  \
0    29.30612  29.32612 -89.09567 -89.07567        10000.0         False
1    29.33629  29.35629 -89.12212 -89.10212        10000.0         False
2    30.36990  30.38990 -88.57173 -88.55173        10000.0         False
3    29.67500  29.69500 -90.10985 -90.08985        10000.0         False
4    29.29730  29.31730 -93.49208 -93.47208        10000.0         False
..        ...       ...       ...       ...            ...           ...
868  28.99136  29.01136 -91.70326 -91.68326        10000.0         False
869  29.27593  29.29593 -91.94512 -91.92512        10000.0         False
870  28.97955  28.99955 -91.75244 -91.73244        10000.0         False
871  29.74477  29.76477 -93.46546 -93.44546        10000.0         False
872  29.78009  29.80009 -92.15251 -92.13251        10000.0         False

     LONminT_match LONmaxT_match
0          10000.0         False
1          10000.0         False
2          10000.0         False
3          10000.0         False
4          10000.0         False
..             ...           ...
868        10000.0         False
869        10000.0         False
870        10000.0         False
871        10000.0         False
872        10000.0         False

[873 rows x 19 columns]